/* src/components/Orders.css */
.orders-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .orders-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .orders-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .orders-form input,
  .orders-form button {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .orders-form button {
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button{
    background-color: #3498db;

  }
  
  .orders-form button:hover {
    background-color: #2980b9;
  }
  
  .toggle-dashboard-button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .toggle-dashboard-button:hover {
    background-color: #1a242f;
  }
  
  .orders-list {
    list-style: none;
    padding: 0;
  }
  
  .orders-list li {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .orders-list li:last-child {
    border-bottom: none;
  }
  
  .orders-list li strong {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .buttons-form{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
